{
    font-family: "IBM Plex Sans", sans-serif;
}

.index-bg {
    background-color: #fff;
    height: 100vh;
}

#welcome {
    width: 64%;
    min-width: 400px;
    display: flex;
    flex-shrink: 1;
    margin: auto auto;
}
