.index-bg {
    background-color: #fff;
    height: 100vh;
}

h1 {
    font-family: "IBM Plex Sans";
    font-size: 8vw;
    color: #213445;
    font-weight: 300;
    letter-spacing: -0.03em;
}

#welcome {
    width: 64%;
    min-width: 400px;
    display: flex;
    flex-shrink: 1;
    margin: auto auto;
}
