* {
    font-family: "IBM Plex Sans", sans-serif;
}

.index-bg {
    background-color: #fff;
    height: 100vh;
}

h1 {
    font-size: 64px;
    line-height: 72px;
    color: #213445;
    font-weight: 600;
}

#welcome {
    width: 64%;
    min-width: 400px;
    display: flex;
    flex-shrink: 1;
    margin: auto auto;
}
